/* Navigation Bar */
.navigation {
    background-color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
}

nav > .navLinks > ul > li {
    display: inline-block;
    padding: 25px;
    color: white;
}

.headerText{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 180px;
    padding-right: 180px;
}

body{
    background-color: rgb(243, 243, 243);
}

/* Listing Section */

.listingContainer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.listingContainer > img {
    padding-left: 150px;
    height: 450px;
    width: 800px;
}

/* Form Section */

.boxStyling {
    margin-right: 140px;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px silver;
}

.boxStyling > .profile {
    display: flex;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
}

.boxStyling > .profile > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px ;
}


.boxStyling form {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid silver;
    padding: 15px;
    margin: 3px;
    width: 250px;
    border-radius: 9px;
}

.learnMore {
    padding: 20px;
    margin-top: 10px;
    width: 290px;
    color: white;
    font-size: 15px;
    background-color: black;
    border-top-right-radius: 15px;
}

/* listingCarousel Section */

.listingCarousel {
    padding-left: 190px;
}

.listingCarousel > img {
    width: 120px;
}

.propListings, .description, #listingFeatures{
    width: 840px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px silver;
    margin: 50px 0 0 50px;
    justify-content: center;
}

.propListings h4 {
    padding: 20px 0 0 20px;
}

.propListings table {
    margin: 20px;
    border-spacing: 100px;
    font-size: 23px;
}

.propListings table th{
    border: 1px solid silver;
    border-collapse: collapse;
    border-bottom: none;
}

/* Description Section*/

.description {
    margin-left: 180px;
}

.description, .features h1 {
    border-bottom: 1px solid silver;
    padding: 20px;
}

.description p {
    text-align: left;
    padding: 20px;
}

/* Features Section */

#listingFeatures {
    margin-left: 180px;
    padding-right: 40px;
}

#listingFeatures h2 {
    padding-left: 20px;
    padding-top: 25px;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.features li {
    list-style: none;
    padding: 10px 0 10px 0;
}