/* Navigation Bar */

nav {
    display: flex;
    justify-content: flex-end;
}

nav > .navLinks > ul > li {
    display: inline-block;
    padding: 25px;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
    padding: 0 10px 0 10px;
}

.black {
    background-color: black;
    color: yellow;
    padding: 0 10px 0 10px;
}

/* Background Image */

#heroSection {
    background-image: url(../images/moving\ 1.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.heroText {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 10%;
}

.heroText > p:first-child {
    color: #faff00;
    font-size: 60px;
}

.heroText > p:last-child {
    color: #fff;
    font-size: 30px;
    font-family: "Poppins";
}

.learnMore {
    cursor: pointer;
    padding: 15px 30px 15px 15px;
    border-top-right-radius: 15px;
    background-color: black;
    color: #faff00;
}

/* Image & Text Section */

#imgTextSection {
    display: flex;
    margin: 45px 0 45px 0;
}

.chairImg {
    width: 500px;
    height: 500px;
}


#imgTextSection > .rightSide {
    text-align: left;
    padding: 70px 0 0 70px;
    font-size: 30px;
}

/* Top Movers Section */

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    width: 100vw;
}

.img {
    width: 300px;
    height: 300px;
}

/* Footer Section */

.endFooter {
    display: flex;
    list-style: none;
    padding: 20px;
}
